<head>
    <!--<link href="css/keyboard.css" rel="stylesheet">
    <link href="docs/css/jquery-ui.min.css" rel="stylesheet">-->
        <script src="/docs/js/jquery.min.js"></script>
        <script src="docs/js/jquery-ui.min.js"></script>
        <script src="docs/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/jquery.keyboard.js"></script>
</head>


<body>
<textarea id="keyboard" placeholder="Enter Text..."></textarea>
<script>
    
    
    $('#keyboard').keyboard({
                            appendLocally: true,
                            autoAccept   : true,
                            layout: 'custom',
                            usePreview: false,
                            customLayout : {
                            'normal': [
                                       '{tab} <h1> </h1> <p> </p> <> </> u i o p [ ] \\',
                                       'a s d f g h j k l ; \' {enter}',
                                       '{shift} z x c v b n m , . / {shift}',
                                       '{accept} {space} {cancel} {extender}'
                                       ],
                            'shift': [
                                      '~ ! @ # $ % ^ & * ( ) _ + {bksp}',
                                      '{tab} Q W E R T Y U I O P { } |',
                                      'A S D F G H J K L : " {enter}',
                                      '{shift} Z X C V B N M < > ? {shift}',
                                      '{accept} {space} {cancel} {extender}'
                                      ]
                            }
                            
                            
                            });
</script>
</body>